h1 {
    padding:10px 100px 10px 320px;
    color: white;
    text-align: left;
    background-color: #169919;
}

table {
    table-layout: auto;
    width: 1200px;
}

th, td {
    height: 37px;
}

td {
    border-style: hidden;
}

tr:nth-child(odd) {
    background-color: #f2f2f2;
    border-radius: 3px;
    -moz-border-radius: 3px;
    -webkit-border-radius: 3px;
}

th {
    text-align: center;
    background-color: #4CAF50;
    color: white;
    border-radius: 3px;
    -moz-border-radius: 3px;
    -webkit-border-radius: 3px;
    border: 1px solid #ddd;
    padding: 8px;
    border-top-style: hidden;
    border-bottom-style: hidden;
}

ul {
    font-size: 15px;
    padding: 8px 12px;
    border-radius: 3px;
    -moz-border-radius: 3px;
    -webkit-border-radius: 3px;
    text-decoration: none;
    width: 10%;
    margin: auto;
}

.page-link:hover {
    background-color: #4CAF50;
}

a.page-link {
    color: green;
}
.pagination{
    position: fixed;
    bottom: 150px;
    left: 250px;
    right: 250px;
    width: 100px;
}

input[type=text] {
    margin-left: 330px;
    float: left;
    width: 230px;
    box-sizing: border-box;
    border: 2px solid #ccc;
    border-radius: 4px;
    font-size: 15px;
    background: url(/images/lupa.png) no-repeat 7px 7px;
    padding: 5px 20px 5px 40px;
    -webkit-transition: width 0.4s ease-in-out;
    transition: width 0.4s ease-in-out;
}
input[type=text]:focus {
    width: 600px;
}
#left{
    padding-left: 100px;
}
select {
    padding:3px;
    margin: 2px;
    border-radius:4px;
    background: #4CAF50;
    color:white;
    border:none;
   }