.successText {
    display: none;
    color: green;
    float: right;
    padding-right: 300px;
}

.inputClass {
    margin-left: 300px;
}

.alreadyTakenBooks {
    float: right;
    padding-right: 150px;
}

.errorTextMessage {
    display: none;
    color: red;
    float: right;
    padding-right: 300px;
}