.successText {
    display: none;
    color: green;
    float: right;
    padding-right: 300px;
}
.inputClass {

}
.alreadyTakenBooks {
    float: right;
    padding-right: 300px;
}
.errorTextMessage {
    display: none;
    color: red;
    float: right;
    padding-right: 300px;
}